ai-animation-pipeline/n8n/youtube_viral_clip_scheduler.json
[{"updatedAt":"2025-11-24T16:36:38.000Z","createdAt":"2025-11-23T16:42:52.948Z","id":"364c1JNcexlPDxcA","name":"My workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"url":"=https://api.upload-post.com/api/uploadposts/ffmpeg/jobs/{{ $json.job_id }}/download","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{}}}},"id":"61efd671-92ee-469d-994d-446c1f591d8b","name":"Download Audio","type":"n8n-nodes-base.httpRequest","position":[688,544],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"l3DmCwnZJqjiZCAX","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"https://api.upload-post.com/api/uploadposts/ffmpeg/jobs/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6Imd0aXN0dWRpb3MwMkBnbWFpbC5jb20iLCJleHAiOjQ5MTc1MjE5NTcsImp0aSI6ImUzYzdlMDViLTM4NzEtNGI0MC04ZWEyLWJlZWQ2MzFlOGMzNCJ9.7o2ZWfib5ONw43LXp7nU8ezWfjXnG_Hik9QU4kFBg2M"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"Video"},{"name":"full_command","value":"=ffmpeg -y -i {input} -map a:0 -vn -ac 1 -ar 16000 -c:a pcm_s16le {output}"},{"name":"output_extension","value":"wav"}]},"options":{}},"id":"4988c2fd-b912-4ecd-898c-23f3ac93f32f","name":"FFmpeg: Extract Audio","type":"n8n-nodes-base.httpRequest","position":[-16,672],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"l3DmCwnZJqjiZCAX","name":"Header Auth account"}}},{"parameters":{"operation":"__CUSTOM_API_CALL__"},"id":"0930a126-a003-4ea7-b279-340c0380dd47","name":"Schedule to TikTok, Instagram, and YouTube","type":"n8n-nodes-upload-post.uploadPost","position":[2912,528],"typeVersion":1,"credentials":{"uploadPostApi":{"id":"CjaYaBUyJzmVB1ib","name":"Upload Post account"}}},{"parameters":{"jsCode":"// Input: item.json.{text, words, duration} del nodo Whisper\nreturn items.map(item => {\n  const dur = Number(item.json.duration || 0);\n\n  // Redondea a 3 decimales y mantiene tipo number\n  const round3 = (n) => Math.round(Number(n) * 1000) / 1000;\n\n  const wordsLLM = (item.json.words || []).map(w => ({\n    w: w.word,\n    s: round3(w.start),\n    e: round3(w.end),\n  }));\n\n  item.json.video_duration = round3(dur);\n  item.json.words_llm = wordsLLM;      // array limpio para la IA\n  item.json.text_llm  = item.json.text; // texto tal cual (o límpialo si quieres)\n\n  return item;\n});\n"},"id":"a6116298-e4e0-40bf-8f11-3c2784f64af2","name":"Parse Whisper Results","type":"n8n-nodes-base.code","position":[1056,544],"typeVersion":2},{"parameters":{"options":{}},"id":"5b298de1-86e7-497e-92d1-d49bd9131332","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1264,752],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"wBhQeeq6vmpWndTz","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"promptType":"define","text":"=You are a senior short-form video editor. Read the ENTIRE transcription and word-level timestamps to pick the 3–15 MOST VIRAL moments for TikTok/IG Reels/YouTube Shorts. Each clip must be 15–60 seconds.\n\n⚠️ FFMPEG TIMING CONTRACT — HARD REQUIREMENTS:\n- Return timestamps as ABSOLUTE SECONDS from video start (usable in: ffmpeg -ss <start> -to <end> -i <input> …).\n- Numbers ONLY with DOT decimal, up to 3 decimals (examples: 0, 1.250, 17.350).\n- Ensure 0 ≤ start < end ≤ VIDEO_DURATION_SECONDS.\n- Each clip 15–60s inclusive.\n- Prefer starting 0.2–0.4s BEFORE the hook and ending 0.2–0.4s AFTER the payoff.\n- Use silent moments for natural cuts; never cut mid-word or mid-phrase.\n- STRICTLY NO time formats other than absolute seconds.\n\nVIDEO_DURATION_SECONDS: {{ $json.video_duration }}\n\nTRANSCRIPT_TEXT (raw):\n{{ JSON.stringify($json.text_llm) }}\n\nWORDS_JSON (array of {w, s, e} where s/e are seconds):\n{{ JSON.stringify($json.words_llm) }}\n\nHARD EXCLUSIONS:\n- No generic intros/outros or sponsor-only segments unless they contain the hook.\n- No clips < 15s or > 60s.\n\nOUTPUT — RETURN ONLY VALID JSON (no markdown, no comments). Order clips by predicted performance (best first):\n{\n  \"shorts\": [\n    {\n      \"start\": <number seconds, e.g. 12.340>,\n      \"end\": <number seconds, e.g. 37.900>,\n      \"video_description_for_tiktok\": \"<tiktok video description for get views>\",\n      \"video_description_for_instagram\": \"<instagram video description for get views>\",\n      \"video_title_for_youtube_short\": \"<youtube short video title for get views>\",\n\n    }\n  ]\n}\n","hasOutputParser":true,"options":{}},"id":"5dccab1c-489d-4116-9be7-56f9997bde54","name":"AI Agent - Select Viral Clips","type":"@n8n/n8n-nodes-langchain.agent","position":[1264,544],"typeVersion":2.2},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model","value":"whisper-1"},{"name":"response_format","value":"verbose_json"},{"name":"timestamp_granularities[]","value":"word"}]},"options":{}},"id":"59ff583f-0319-4d09-9489-48e97d3aef6d","name":"Whisper: Transcribe with Timestamps","type":"n8n-nodes-base.httpRequest","position":[864,544],"typeVersion":4.2,"credentials":{"openAiApi":{"id":"neCZJJyhrgrp5bRK","name":"OpenAi account"}}},{"parameters":{},"id":"8395dad8-679e-42e0-92b5-99d78a7cda5b","name":"Wait 5s & Retry (Audio)","type":"n8n-nodes-base.wait","position":[688,688],"webhookId":"259572b2-f378-479f-8f2e-219635986fc4","typeVersion":1.1},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"60615090-7a29-4573-9b47-369d6a3e95e9","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"finished"}]},"options":{}},"id":"dd83cd9f-4add-4fa7-ba30-de325c392f24","name":"Is Audio Job Completed?","type":"n8n-nodes-base.if","position":[512,672],"typeVersion":2},{"parameters":{"url":"=https://api.upload-post.com/api/uploadposts/ffmpeg/jobs/{{ $json.job_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"3e7258aa-73c6-4b72-b622-fef0161f6eb2","name":"Check Audio Job Status","type":"n8n-nodes-base.httpRequest","position":[352,672],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"l3DmCwnZJqjiZCAX","name":"Header Auth account"}}},{"parameters":{"amount":10},"id":"08bb50ab-4956-4cea-b812-77f894e8167d","name":"Wait 10s (Audio)","type":"n8n-nodes-base.wait","position":[144,672],"webhookId":"cc0bf0ea-46f3-415c-b08a-0126aa1bb33b","typeVersion":1.1},{"parameters":{"path":"352a575b-42cf-4e9b-8d76-6acec4e40402","formTitle":"🎬 Video to Viral Shorts","formDescription":"Upload your video and automatically create viral shorts with AI. Depending on the video's length, 3 to 6 shorts will be generated and automatically scheduled to be uploaded one per day at this time starting tomorrow.\n","formFields":{"values":[{"fieldLabel":"Video","fieldType":"file","acceptFileTypes":"video/*","requiredField":true}]},"options":{}},"id":"a81c7378-960f-41a5-8216-134da66a2982","name":"Form: Upload Video","type":"n8n-nodes-base.formTrigger","position":[-224,672],"webhookId":"352a575b-42cf-4e9b-8d76-6acec4e40402","typeVersion":2.1},{"parameters":{},"id":"adbc8fe8-51ad-4fa8-a761-192df507b058","name":"Wait 5s & Retry (Short)","type":"n8n-nodes-base.wait","position":[2640,688],"webhookId":"259572b2-f378-479f-8f2e-219635986fc4","typeVersion":1.1},{"parameters":{"url":"=https://api.upload-post.com/api/uploadposts/ffmpeg/jobs/{{ $json.job_id }}/download","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{}}}},"id":"4f46a48d-a884-4762-8528-c1f902a567e9","name":"Download Short","type":"n8n-nodes-base.httpRequest","position":[2640,528],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"l3DmCwnZJqjiZCAX","name":"Header Auth account"}}},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"60615090-7a29-4573-9b47-369d6a3e95e9","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"finished"}]},"options":{}},"id":"71584c03-2474-450e-ad75-8e919ca29eca","name":"Is Short Job Completed?","type":"n8n-nodes-base.if","position":[2384,544],"typeVersion":2},{"parameters":{"url":"=https://api.upload-post.com/api/uploadposts/ffmpeg/jobs/{{ $json.job_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"67f4e0e9-1ec7-442e-be9d-2ef0677a874b","name":"Check Short Job Status","type":"n8n-nodes-base.httpRequest","position":[2160,544],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"l3DmCwnZJqjiZCAX","name":"Header Auth account"}}},{"parameters":{"amount":10},"id":"963b1754-d2a3-45a4-a322-56f81ef4f6a4","name":"Wait 10s (Short)","type":"n8n-nodes-base.wait","position":[1952,544],"webhookId":"cc0bf0ea-46f3-415c-b08a-0126aa1bb33b","typeVersion":1.1},{"parameters":{"jsCode":"// Get Gemini response\nconst data = $input.first().json;\nconst formData = $('Form: Upload Video').first();\n\n// --- Config opcional ---\nconst VIDEO_DURATION_SECONDS =\n  Number(formData?.json?.videoDurationSeconds) ||\n  Number(formData?.json?.duration) ||\n  Number(formData?.json?.meta?.durationSec) ||\n  null;\n\n// --- Helpers ---\nconst toMs = (v) => (isFinite(Number(v)) ? Math.round(Number(v) * 1000) : 0);\n\nconst stripCodeFences = (txt) =>\n  String(txt || '')\n    .replace(/```json\\s*/gi, '')\n    .replace(/```\\s*/g, '')\n    .trim();\n\nconst extractJsonObject = (txt) => {\n  // 1) intenta parse directo\n  try { return JSON.parse(txt); } catch {}\n  // 2) intenta localizar el primer {...}\n  const m = String(txt).match(/\\{[\\s\\S]*\\}/);\n  if (m) {\n    try { return JSON.parse(m[0]); } catch {}\n  }\n  throw new Error('No se pudo extraer JSON válido del texto:\\n' + String(txt).slice(0, 300));\n};\n\nconst pickText = (payload) => {\n  // Nuevos formatos (string en 'output')\n  if (typeof payload === 'string') return payload;\n  if (payload?.output) return payload.output;\n\n  // Antiguos formatos (content.parts[0].text)\n  if (Array.isArray(payload) && payload[0]?.output) return payload[0].output;\n  if (Array.isArray(payload) && payload[0]?.content?.parts?.[0]?.text) return payload[0].content.parts[0].text;\n  if (payload?.content?.parts?.[0]?.text) return payload.content.parts[0].text;\n\n  // Otros\n  if (payload?.response) return payload.response;\n  if (payload?.text) return payload.text;\n\n  // Último recurso: stringify\n  return JSON.stringify(payload);\n};\n\n// --- 1) Extrae texto crudo del output ---\nlet textResponse = pickText(data);\n\n// --- 2) Limpia fences y parsea el JSON interior ---\ntextResponse = stripCodeFences(textResponse);\nlet parsed = extractJsonObject(textResponse);\n\n// Si vino envuelto otra vez dentro de 'output', vuelve a parsear\nif (!parsed?.shorts && typeof parsed?.output === 'string') {\n  parsed = extractJsonObject(stripCodeFences(parsed.output));\n}\n\nconst shorts = Array.isArray(parsed?.shorts) ? parsed.shorts : [];\nif (!shorts.length) {\n  throw new Error('Gemini no encontró segmentos interesantes');\n}\n\n// --- 3) Normalización opcional (si Gemini mandó fracciones 0–1 y conocemos D) ---\nconst MIN = 15, MAX = 60;\nconst clamp = (v, lo, hi) => Math.max(lo, Math.min(hi, v));\n\nconst vf = \"scale='min(1080,iw)':'min(1920,ih)':force_original_aspect_ratio=increase,crop=1080:1920,setsar=1\";\n\nreturn shorts.map((s, i) => {\n  let startSec = Number(s.start);\n  let endSec   = Number(s.end);\n\n  if (!isFinite(startSec) || !isFinite(endSec)) {\n    throw new Error(`Timestamps inválidos en short #${i + 1}`);\n  }\n\n  // Si parecen porcentajes 0–1 y tenemos duración del vídeo, conviértelo a segundos\n  if (VIDEO_DURATION_SECONDS && endSec <= 1.001) {\n    startSec *= VIDEO_DURATION_SECONDS;\n    endSec   *= VIDEO_DURATION_SECONDS;\n  }\n\n  // Fuerza rango 15–60s de forma suave\n  let duration = endSec - startSec;\n  if (duration < MIN) endSec = startSec + MIN;\n  if (duration > MAX) endSec = startSec + MAX;\n  duration = endSec - startSec;\n\n  // Mantén dentro de la duración del vídeo (si la sabemos)\n  if (VIDEO_DURATION_SECONDS) {\n    startSec = clamp(startSec, 0, Math.max(0, VIDEO_DURATION_SECONDS - MIN));\n    endSec   = clamp(endSec, startSec + MIN, VIDEO_DURATION_SECONDS);\n    duration = endSec - startSec;\n  }\n\n  // Redondeos\n  const start = Number(startSec.toFixed(3));\n  const end   = Number(endSec.toFixed(3));\n  const dur   = Number(duration.toFixed(3));\n\n  // Construye el comando FFmpeg completo (usa -t = duración)\n  const ffmpegCmd =\n    `ffmpeg -y -hide_banner -loglevel error ` +\n    `-ss ${start} -t ${dur} -i {input} ` +\n    `-c:v h264_nvenc -cq 22 -vf \"${vf}\" ` +\n    `-c:a aac -b:a 128k -ar 48000 -ac 2 -movflags +faststart {output}`;\n\n  return {\n    json: {\n      index: i + 1,\n      startTime: start,\n      endTime: end,\n      duration: dur,\n      startTimeMs: toMs(start),\n      endTimeMs: toMs(end),\n      durationMs: toMs(dur),\n      video_description_for_tiktok: s.video_description_for_tiktok ?? '',\n      video_description_for_instagram: s.video_description_for_instagram ?? '',\n      video_title_for_youtube_short: s.video_title_for_youtube_short ?? '',\n      full_command: ffmpegCmd\n    },\n    binary: formData.binary\n  };\n});\n"},"id":"3d1d210a-beab-4954-aa69-bee2c29d154d","name":"Parse Gemini Analysis","type":"n8n-nodes-base.code","position":[1568,544],"typeVersion":2},{"parameters":{"content":"**AUTO-SHORTS GENERATOR**\n\n**How it Works:**\n1.  Upload a long video via the form.\n2.  AI transcribes the audio (Whisper) and finds the most viral clips (Gemini).\n3.  The clips are auto-cut, cropped, and prepared for social media.\n4.  Shorts are scheduled to post daily on TikTok, Instagram, and YouTube.\n\n**Quick Setup:**\n1.  **OpenAI Whisper:** Add your API key to the `Whisper: Transcribe` node.\n2.  **Google Gemini:** Add your Google AI Studio API key to the `Google Gemini Chat Model` node.\n3.  **Upload-Post:**\n    *   Sign up at `app.upload-post.com` & connect your social accounts.\n    *   Generate an API token.\n    *   In n8n, create credentials for the `HTTP Request` nodes (Header Auth) and the `Schedule...` node (Upload-Post API) using that token.\n4.  **Scheduling:** Adjust the post time and timezone in the `Schedule to...` node.\n5.  **To Run:** Use the URL from the `Form: Upload Video` node to upload your video.","height":592,"width":480,"color":7},"id":"6399dabc-fc78-480a-b538-37b2d614cdfe","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-272,-64],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.upload-post.com/api/uploadposts/ffmpeg/jobs/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"Video"},{"name":"full_command","value":"=ffmpeg -y -hide_banner -loglevel error -ss {{ $json.startTime }} -t {{ $json.duration }} -i {input} -vf \"scale=trunc(iw/2)*2:trunc(ih/2)*2,setsar=1\" -c:v h264_nvenc -cq 22 -pix_fmt yuv420p -c:a aac -b:a 128k -ar 48000 -ac 2 -movflags +faststart {output}"},{"name":"output_extension","value":"mp4"}]},"options":{}},"id":"b4e095c0-b987-4b63-80e4-3aadf2befe24","name":"FFmpeg: Upload & Cut","type":"n8n-nodes-base.httpRequest","position":[1744,544],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"l3DmCwnZJqjiZCAX","name":"Header Auth account"}}},{"parameters":{"content":"**Intake & Form**\n- Form: Upload Video","height":352,"width":228},"id":"f4c8d3f5-504b-411c-be16-3931b1ef82dd","name":"Section: Intake & Form","type":"n8n-nodes-base.stickyNote","position":[-272,528],"typeVersion":1},{"parameters":{"content":"**Transcription & Parsing**\n- Whisper: Transcribe with Timestamps\n- Parse Whisper Results\n- Download Audio","height":320,"width":428},"id":"30a0f054-c0b7-4a67-9d51-ff0bd9071ab1","name":"Section: Transcription & Parsing","type":"n8n-nodes-base.stickyNote","position":[832,416],"typeVersion":1},{"parameters":{"content":"**AI Selection**\n- Google Gemini Chat Model\n- AI Agent – Select Viral Clips\n- Parse Gemini Analysis","height":480,"width":420},"id":"b54f7c9b-aad1-4ee9-94ed-52475c1115cb","name":"Section: AI Selection (Gemini)","type":"n8n-nodes-base.stickyNote","position":[1248,416],"typeVersion":1},{"parameters":{"content":"**FFmpeg Audio Job Loop**\n- FFmpeg: Extract Audio\n- Wait 10s (Audio) → Check Audio Job Status → Is Audio Job Completed?\n- Retry path: Wait 5s & Retry (Audio)","height":352,"width":880},"id":"a6d138e6-b0e6-4637-8329-ef49c474b735","name":"Section: FFmpeg Audio Job Loop","type":"n8n-nodes-base.stickyNote","position":[-48,528],"typeVersion":1},{"parameters":{"content":"**FFmpeg Short Job Loop**\n- FFmpeg: Upload & Cut\n- Wait 10s (Short) → Check Short Job Status → Is Short Job Completed?\n- Retry path: Wait 5s & Retry (Short)","height":480,"width":1132},"id":"a7c1d4e8-a8e3-41c9-962e-be8906f236ba","name":"Section: FFmpeg Short Job Loop","type":"n8n-nodes-base.stickyNote","position":[1664,416],"typeVersion":1},{"parameters":{"content":"**Scheduling**\n- Download Short\n- Schedule to TikTok, Instagram, and YouTube","height":480,"width":420},"id":"889a20da-f46e-439d-afd0-400e085a15d2","name":"Section: Scheduling","type":"n8n-nodes-base.stickyNote","position":[2800,416],"typeVersion":1},{"parameters":{"operation":"uploadVideo","user":"GTI_studios","platform":["instagram","youtube"],"title":"=={{ $json.video_description_for_instagram }}\n","video":"=={{ $binary.data }}\n"},"type":"n8n-nodes-upload-post.uploadPost","typeVersion":1,"position":[2400,80],"id":"316ccc3f-8e26-492c-b8dc-845a58d5eb7e","name":"Upload a video","credentials":{"uploadPostApi":{"id":"CjaYaBUyJzmVB1ib","name":"Upload Post account"}}}],"connections":{"Download Audio":{"main":[[{"node":"Whisper: Transcribe with Timestamps","type":"main","index":0}]]},"Download Short":{"main":[[{"node":"Schedule to TikTok, Instagram, and YouTube","type":"main","index":0}]]},"Wait 10s (Audio)":{"main":[[{"node":"Check Audio Job Status","type":"main","index":0}]]},"Wait 10s (Short)":{"main":[[{"node":"Check Short Job Status","type":"main","index":0}]]},"Form: Upload Video":{"main":[[{"node":"FFmpeg: Extract Audio","type":"main","index":0}]]},"FFmpeg: Upload & Cut":{"main":[[{"node":"Wait 10s (Short)","type":"main","index":0}]]},"FFmpeg: Extract Audio":{"main":[[{"node":"Wait 10s (Audio)","type":"main","index":0}]]},"Parse Gemini Analysis":{"main":[[{"node":"FFmpeg: Upload & Cut","type":"main","index":0}]]},"Parse Whisper Results":{"main":[[{"node":"AI Agent - Select Viral Clips","type":"main","index":0}]]},"Check Audio Job Status":{"main":[[{"node":"Is Audio Job Completed?","type":"main","index":0}]]},"Check Short Job Status":{"main":[[{"node":"Is Short Job Completed?","type":"main","index":0}]]},"Is Audio Job Completed?":{"main":[[{"node":"Download Audio","type":"main","index":0}],[{"node":"Wait 5s & Retry (Audio)","type":"main","index":0}]]},"Is Short Job Completed?":{"main":[[{"node":"Download Short","type":"main","index":0}],[{"node":"Wait 5s & Retry (Short)","type":"main","index":0}]]},"Wait 5s & Retry (Audio)":{"main":[[{"node":"Check Audio Job Status","type":"main","index":0}]]},"Wait 5s & Retry (Short)":{"main":[[{"node":"Check Short Job Status","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent - Select Viral Clips","type":"ai_languageModel","index":0}]]},"AI Agent - Select Viral Clips":{"main":[[{"node":"Parse Gemini Analysis","type":"main","index":0}]]},"Whisper: Transcribe with Timestamps":{"main":[[{"node":"Parse Whisper Results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8ee4f83b-93eb-47a7-9125-7a45bd899f72","versionCounter":23,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-11-23T16:42:52.955Z","createdAt":"2025-11-23T16:42:52.955Z","role":"workflow:owner","workflowId":"364c1JNcexlPDxcA","projectId":"fhnIifhM9AWd6nea","project":{"updatedAt":"2025-11-23T16:23:45.618Z","createdAt":"2025-11-23T16:21:20.861Z","id":"fhnIifhM9AWd6nea","name":"james Taylor <jbtk@sbcglobal.net>","type":"personal","icon":null,"description":null}}]}]